/* Global */
:root {
  /* Color */
  --color-dark-white: #b0b2c3;
  --color-white: #fff;
  --color-blue-bottle: #189cc4;
  --color-light-teal: #04c2c9;
  --color-dark-teal: #00a1a7;
  --color-dark-black: #1d1d25;
  --color-light-black: #666;
  --color-light-grey: #eee;
  --color-light-grey2: #c0c0c0;
  --color-pink-hot: #ff3399;
  --color-red: #ff0000;
  --color-dark-navy: #4d5063;
  --color-grey-navy: #303038;
}

/* Typography */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

button {
  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  font-size: var(--font-medium);
  font-weight: 500;
}
